@model IEnumerable<CollgeWebsite.Models.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designantion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>Department</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designantion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
